* {
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
body, html {
    color: #fff;
    background-color: #000;
}
h1 {
    font-size: 40px;
    text-transform: uppercase;
}
h2 {
    font-size: 25px;
    font-weight: 400;
}
P {
    font: italic 18px;
    font-weight: 200;
}
header .Logo {
    font-weight: 600;
    font: italic;
    font-size: 20px;
    background: -webkit-linear-gradient(left, red , yellow);
    background: -o-linear-gradient(right, red, yellow);
    background: -moz-linear-gradient(right, red, yellow);
    background: linear-gradient(to right, red , yellow); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header {
    width: 95%;
    display: flex;
    margin: 20px 25px 0 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: orange solid 2px;
    padding: 0 20px 10px 20px;
    border-radius: 30px;
    position: relative;
    z-index: 99;
}
header .nav_links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-transform: uppercase;
}
header nav #active_link a{
    color: orange;
    border-bottom: orange solid 1px;
    border-radius: 30px;
    
}
header .nav_links li, a:hover {
    color: orange;
    transition: 0.4s ease;
}
header .nav_links li, a {
    text-decoration: none;
    color: #fff;
    transition: 0.4s ease;
}
header svg {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

/* -------- MENU EHLEL -------- */

.main {
    position: relative;
    margin: 3rem 1rem 1rem 1rem;
}
.head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
}
.head p {
    line-height: 25px;
}
.filters {
    width: 100%;
    margin: 5rem 0 0 0;
}
.filters ul {
    display: flex;
    gap: 3rem;
}
.filters ul li, a {
    list-style: none;
    text-decoration: none;
}
.filters ul li {
    padding: 7px 10px 7px 10px;
    border: gray 1px solid;
    border-radius: 10px;
    text-transform: uppercase;
    transition: .4s ease;
}
.filters ul #active {
    background-color: #fff;
}
.filters ul #active a {
    color: #000;
}
.filters ul li:hover a {
    color: #000;
}
.filters ul li:hover {
    background: #fff;
}

/* --------- MENU BOX START --------- */
.menu {
    position: relative;
    width: 100%;
    margin: 3rem 0 0 0;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap: 50px;
}

.menu .menu-box {
    position: relative;
    border: #000 2px solid;
    box-shadow: 1px 1px 20px 10px #383138;
    width: 100%;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    transition: .4s ease;
    border-radius: 10px;
}
.menu .menu-box:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
}
.menu .menu-box:hover img{
    transform: scale(1.1);
    background: #000;
    opacity: .9;
}
.menu .menu-box img {
    width: 100%;
    height: 250px;
    max-height: 250px;
    -webkit-transition: .4s ease;
    transition: .4s ease;
    z-index: 1;
}
.menu .menu-box .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 12px 15px 12px 15px;
    text-align: start;
    z-index: 10;
}
.menu .menu-box .info span {
    color: orangered;
    display: flex;
    justify-content: end;
}